# Solution of quadration equation

In [1]:
import math
def fun(a,b,c):
    delta = b**2 - 4*a*c
    if(delta < 0):
        print("no solution")
    elif(delta == 0):
        sol = -b/(2*a)
        print("x = ", sol)
    elif(delta > 0):
        sol1 = (-b + math.sqrt(delta))/(2*a)
        sol2 = (-b - math.sqrt(delta))/(2*a)
        print("x1 =", sol1, "x2 = ", sol2)

In [2]:
fun(3, 4, -7)

x1 = 1.0 x2 =  -2.3333333333333335

# Solution of quadration equation : generalization

In [3]:
import numpy as np
def fun2(a,b,c):
    l = len(a)
    n = np.arange(l)
    for i in n:
        delta = b[i]**2 - 4*a[i]*c[i]
        if(delta < 0):
            print("no solution")
        elif(delta == 0):
            sol = -b[i]/(2*a[i])
            print("x = ", sol)
        elif(delta > 0):
            sol1 = (-b[i] + math.sqrt(delta))/(2*a[i])
            sol2 = (-b[i] - math.sqrt(delta))/(2*a[i])
            print("x1 =", sol1, "x2 = ", sol2)

In [4]:
fun2([-2,3,4], [1,-2,3], [5,6,-7])

x1 = -1.3507810593582121 x2 =  1.8507810593582121
no solution
x1 = 1.0 x2 =  -1.75

# Solve n equation with n unkown

In [5]:
a = np.array([[1, 2], [3, 5]])
b = np.array([1, 2])
x = np.linalg.solve(a, b)
x

array([-1.,  1.])

Verify the solution.

In [6]:
np.allclose(np.dot(a, x), b)

True

# Solution Toss game

In [7]:
from random import randint
MyChoice = input('Please choice tail or head: ')
dict = {0 : "head",
       1 : "tail"}
flip = randint(0,1)
r = dict[flip]
if r == MyChoice:
    print("You win !!")
else:
    print("...")

Please choice tail or head: tail
...

# Solution simulation Toss game

In [8]:
import numpy as np
import pandas as pd

nbsim = 10
dict = {0 : "head",
       1 : "tail"}

a = np.random.binomial(n = 1, p = 0.5, size = nbsim)
n = len(a)
result = pd.DataFrame(a)
result.columns = ["outcome"]
out = result.replace(dict)

out

  outcome
0    tail
1    head
2    tail
3    tail
4    tail
5    head
6    head
7    head
8    tail
9    tail

In [9]:
result = []
for i in range(1,nbsim + 1):
    result.append(np.random.binomial(n = 1, p = 0.5, size = i))
    
    
df = pd.DataFrame(result, )
df.replace(dict)

      0     1     2     3     4     5     6     7     8     9
0  head   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1  head  tail   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  tail  tail  tail   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3  head  head  head  tail   NaN   NaN   NaN   NaN   NaN   NaN
4  tail  head  head  tail  tail   NaN   NaN   NaN   NaN   NaN
5  head  tail  tail  tail  head  tail   NaN   NaN   NaN   NaN
6  tail  tail  head  tail  tail  tail  head   NaN   NaN   NaN
7  head  tail  head  tail  head  head  tail  tail   NaN   NaN
8  head  head  tail  tail  head  tail  tail  head  tail   NaN
9  head  tail  head  head  tail  head  head  head  head  tail